.emptyStateImage {
    height: 100px;
    width: 128px;
}

.addNewCredentialText {
    color: var(--color-aqua);
    text-decoration: none;
    font-weight: bold;
}

.leftContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    font-family: "roboto";
}

.divider {
    font-weight: bold;
}

.customFooter {
    color: var(--white);
    border: none;
    overflow: hidden;
}

.actionButton {
    background: transparent;
    border: 1px solid var(--white);
    color: white;
    width: 200px;
}

.actionButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.actionButton:hover {
    background: var(--color-gray);
}

.revoked {
    font-style: italic;
    color: var(--color-gray-100);
}

.individualCredential {
    text-align: center;
}

.credentialSubject {
    margin-top: 4rem;
    background-color: #131313;
    padding: 1rem;
    border-radius: 25px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}