.emptyStateImage {
    height: 100px;
    width: 128px;
}

.addNewCredentialText {
    color: var(--color-aqua);
    text-decoration: none;
    font-weight: bold;
}

.leftContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    font-family: "roboto";
}

.divider {
    font-weight: bold;
}

.customFooter {
    color: var(--white);
    border: none;
    overflow: hidden;
}

.actionButton {
    background: transparent;
    border: 1px solid var(--white);
}

.actionButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.actionButton:hover {
    background: var(--color-gray);
}

.revoked {
    font-style: italic;
    color: var(--color-gray-100);
}
