.alert {
    background: var(--white) !important;
    color: var(--color-black) !important;
    width: 40vw !important;
}

@media screen and (max-width: 800px) {
    .alert {
        width: 42vw !important;
    }
}

@media screen and (max-width: 500px) {
    .alert {
        width: 65vw !important;
    }
}

@media screen and (min-width: 1800px) {
    .alert {
        width: 25vw !important;
    }
}

@media screen and (min-width: 2100px) {
    .alert {
        width: 20vw !important;
    }
}
