.menuItem {
    padding: 0.75rem 1rem;
    display: flex;
    gap: 20px;
}

.blackFont {
    color: var(--color-black);
}

.userButton {
    display: flex;
    gap: 8px;
}

.userImage {
    height: 24px;
    width: 24px;
}

.divider {
    border-color: var(--color-black);
}

.identifierText {
    font-size: var(--font-size-xsm);
    color: var(--color-gray-100);
}

.copyIdentifierText {
    margin: 0;
}

.identifierText {
    margin: 0;
    gap: 10px;
    display: flex;
    align-items: center;
}

.copyIcon {
    height: var(--font-size-xsm);
    width: var(--font-size-xsm);
}

.identifier {
    border-bottom: 1px solid var(--color-black);
}
