.container {
  padding: 0 25vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title{
  font-size: var(--font-size-13xl);
}

.steps {
  color: rgba(255,255,255,0.25);
}

.description {
  margin-bottom: 2rem;
  text-align: justify;
}

.buttons {
  position: absolute; 
  bottom: 10vh;
  right: 30vw;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.buttons_prev, .buttons_next {
  padding: 0.75rem 2rem;
  background: rgba(255,255,255,0.1);
  color: var(--color-gray-30);
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.buttons_prev:hover, .buttons_next:hover{
  background: rgba(255,255,255,0.25); 
  color: rgba(255,255,255);
}

.buttons_prev:disabled:hover {
  background: rgba(255,255,255,0.1);
  color: var(--color-gray-30);
  cursor: auto;
}