.appBar {
    background-color: #131313;
}

.logo {
    flex-grow: 1;
}

.ssiid {
    color: var(--color-aqua);
    position: relative;
    line-height: 32px;
}

.logo,
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.logo {
    gap: var(--gap-5xs);
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    align-self: stretch;
}

.issuer {
    color: var(--white);
}

.breadcrumbSeparator {
    color: var(--white50);
}

.drawerContainer {
    display: flex;
    justify-content: center;
}