.container {
  width: 100;
  padding: 2vh 2.5rem;
  background: var(--white10);
  border-radius: 10px;
}

.field{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: var(--font-size-sm);
  text-align: justify;
}

.field_name {
  font-weight: bold;
}