.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--color-gray-400);
    border-radius: 8px;
}

.container {
    overflow: auto;
    height: 70vh;
}

.qrModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-gray-400);
    border-radius: 8px;
    width: 37%;
}

@media screen and (min-width: 1800px) and (min-height: 800px) {
    .qrModal {
        width: 30%;
        height: 80vh;
    }
}

@media screen and (min-width: 2100px) and (min-height: 1100px) {
    .qrModal {
        width: 25%;
        height: auto;
    }

    .container {
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .qrModal {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .qrModal {
        width: 90%;
    }
}

.titleContainer {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-black);
}

.title {
    text-align: center;
    font-weight: bold;
}

.bodyContainer {
    padding: 1rem 2rem;
    text-align: center;
    border-bottom: 1px solid var(--color-black);
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
