.container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}

.info {
    width: 60%;
}

.note {
    width: 60%;
    margin: 1rem 0;
}

.showQr {
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--white);
    font-family: var(--font-roboto);
}

.buttonIcon {
    width: 15px;
    height: 15px;
    margin-right: 0.45rem;
}

.spacing {
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: var(--gap-5xs);
}

.separator {
    align-self: center;
    width: 80%;
    margin: 1rem;
    position: relative;
    background-color: var(--color-gray-300);
    height: 1px;
    flex-shrink: 0;
}

.blackFont {
    color: var(--color-black);
}