.heroImageIcon {
    position: relative;
    height: 256px;
    width: 256px;
}

.connectYourKyc {
    align-self: stretch;
    position: relative;
    line-height: 120%;
    font-size: var(--font-size-13xl);
    font-weight: bold;
}

.thisWebsiteIs {
    margin: 0;
}

.pleaseDontUse {
    margin-bottom: 0;
}

.pleaseDontUsePersonalOrS {
    margin: 0;
    padding-left: var(--padding-lgi);
}

.thisWebsiteIsContainer {
    position: relative;
    font-size: var(--font-inherit);
    line-height: 160%;
    font-family: var(--font-inherit);
    text-align: left;
}

.headlineSubhead {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}

.icon {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: none;
}

.getNotifiedAbout {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 140%;
    font-family: var(--font-roboto);
    color: var(--color-black);
    text-align: center;
}

.landingPageButtonPrimary {
    cursor: pointer;
    border: 0;
    padding: 0 var(--padding-5xl);
    background-color: var(--color-aqua);
    border-radius: var(--br-5xl);
    height: 42px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
}

.connectWidget {
    margin-top: 2rem;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-13xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--white);
    font-family: var(--font-roboto);
}
