.buttonIcon {
    width: 15px;
    height: 15px;
    margin-right: 0.45rem;
}

.blackFont {
    color: var(--color-black);
}

.searchIcon {
    color: var(--white);
    width: 15px;
    height: 15px;
    margin-right: 1rem;
}

.leftButtonContainer {
    flex-grow: 1;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.rightButtonContainer {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttonContainer {
    display: flex;
    padding: 1rem 0px;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
}

@media (max-width: 800px) {
    .buttonContainer {
        flex-direction: column;
    }
}